:-webkit-scrollbar {
    	display: none;
	overflow: hidden;
}

:root {
	--rojo: #E50914;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

.icono {
	width: 160px;
	height: 160px;
	overflow: hidden;


}


#video_background {
position: absolute;
bottom: 0px;
right: 0px;
min-width: 100%;
min-height: 100%;
width: 1080px;
height: 720px;
z-index: -1000;
overflow: hidden;
}
#video_pattern {
background:#fff;
position: fixed;
opacity: 0.8;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 1;
}




.borde {
	cursor:pointer;
	border-radius: 0%;
	border: 5px solid rgba(0,0,0,0);
	opacity:  0.6;
	overflow: hidden;
}

.borde:hover {
	cursor:pointer;
	border: 5px solid rgba(0,0,0,0);
	transform: scale(1.08);
	background-image: url("square.png");
	opacity:  1;
	overflow: hidden;

}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

.contenedor {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header {
	padding: 10px 0;
	overflow: hidden;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
	overflow: hidden;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
	overflow: hidden;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
	overflow: hidden;
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	margin-bottom: 0em;
	display: flex;
	align-items: end;
	overflow: hidden;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
	text-align: center;
	overflow: hidden;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 1.6em;
	margin-bottom: 0.6em;
	overflow: hidden;
	color: #3380ff
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1.1em;
	line-height: 1.75em;
	max-width: 60%;
	margin-bottom: 1.25em;
	text-align: center;
	overflow: hidden;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
	text-align: center;
	overflow: hidden;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
	overflow: hidden;
	
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
	overflow: hidden;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
		overflow: hidden;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
		overflow: hidden;
	}

	.pelicula-principal {
		font-size: 14px;
		overflow: hidden;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
		overflow: hidden;
	}
}
